<section class="hero is-medium">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="images/sg_logo.jpg" alt="株式会社エス・ジー">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active" href="/">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>
                            ホーム
                        </a>
                        <a class="navbar-item" href="/sitemap/">
                            <span class="icon">
                                <i class="fas fa-sitemap"></i>
                            </span>
                            サイトマップ
                        </a>
                        <a class="navbar-item" href="/contact/">
                            <span class="icon">
                                <i class="fas fa-question-circle"></i>
                            </span>
                            お問い合わせ
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
